{% load staticfiles %}
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>
      {% block title %}
      {# different titles for different tabs, standard: #}
        Eisenhower Matrix
      {% endblock title %}
    </title>
    {% block stylesheets %}
    {# change stylesheets per tab #}
      <link rel="stylesheet" type="text/css"
            href={% static "css/stylesheet.css" %}>
    {% endblock stylesheets %}
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    {% block navbar %}
    {# changed in every template to match the current tab #}
    {% endblock navbar %}
    <div class="main">
      {% block messages %}
      {% if messages %}
        {% for message in messages %}
        <div class="messages">
          <div class="text">
            <span>{{ message }}</span>
          </div>
          <div class="close">
            <span class="closeNotification">x</span>
          </div>
        </div>
        {% endfor %}
      {% endif %}
      {% endblock messages %}
      {% block content %}
      {# everything between header and footer #}
      {% endblock content %}
    </div>
    {% block javascript %}
    {# javascript only where needed -> matrix #}
    {% endblock javascript %}
  </body>
  {% block footer %}
  {# footer included in every template #}
  {% endblock footer %}
</html>
