{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>
      {% block title %}
      {# different titles for different tabs, standard: #}
        Eisenhower Matrix
      {% endblock title %}
    </title>
    {% block stylesheets %}
    {# change stylesheets per tab #}
      <link rel="stylesheet" type="text/css"
            href={% static "css/bootstrap.min.css" %}>
      <link rel="stylesheet" type="text/css"
                  href={% static "css/stylesheet.css" %}>
    {% endblock stylesheets %}
    {% block js %}
      <script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}>
      </script>
      <script type="text/javascript" src={% static "js/bootstrap.min.js" %}>
      </script>
      <script type="text/javascript" src={% static "js/ema.js" %}></script>
    {% endblock js %}
  </head>
  <body>
    {% block navbar %}
    {# changed in every template to match the current tab #}
    {% endblock navbar %}
    <div class="main">
      {% block messages %}
        <div class="messages" style="display: {% if messages %}block{% else %}none{% endif %};">
          <div class="text">
            {% if messages %}
              {% for message in messages %}
              <span>{{ message }}</span>
              {% endfor %}
            {% endif %}
          </div>
          <div class="closeX">
            <span class="closeNotification">x</span>
          </div>
        </div>
      {% endblock messages %}
      {% block content %}
      {# everything between header and footer #}
      {% endblock content %}
    </div>
    {% block javascript %}
    {# javascript only where needed -> matrix #}
    {% endblock javascript %}
  </body>
  {% block footer %}
  {# footer included in every template #}
  {% endblock footer %}
</html>
