{% load staticfiles %}
<html>
  <head>
    <title>
      {% block title %}
      {# different titles for different tabs, standard: #}
        Eisenhower Matrix
      {% endblock title %}
    </title>
    {% block stylesheets %}
    {# change stylesheets per tab #}
      <link rel="stylesheet" type="text/css"
            href={% static "css/stylesheet.css" %}>
    {% endblock stylesheets %}
  </head>
  <body>
    {% block navbar %}
    {# changed in every template to match the current tab #}
    {% endblock navbar %}
    <div class="main">
      {% block content %}
      {# everything between header and footer #}
      {% endblock content %}
    </div>
    {% block javascript %}
    {# javascript only where needed -> matrix #}
    {% endblock javascript %}
  </body>
  {% block footer %}
  {# footer included in every template #}
  {% endblock footer %}
</html>
