{# variable active_tab to reduce redundance, activates the class now to #}
{# hightlight current tab #}
{% block navbar %}
<div class="emaNavbar navbar-fixed-top">
  <ul>
    <li>
      <!-- https://djangosnippets.org/snippets/2421/ navbar DRY method -->
      <a class="navLink" href={% url 'matrix:matrix' %}>
        <div class="{% if active_tab == 'EMA' %}now{% endif %}">HOME - EMA</div>
      </a>
    </li>
    <li>
      <a class="navLink" href={% url 'profiles:account' %}>
        <div class="{% if active_tab == 'Account' %}now{% endif %}">Account</div>
      </a>
    </li>
    <li>
      <a class="navLink" href={% url 'bot:setup' %}>
        <div class="{% if active_tab == 'Telegram' %}now{% endif %}">
          Telegram Bot
        </div>
      </a>
    </li>
    <li>
      <a class="navLink" href={% url 'orga:help' %}>
        <div class="{% if active_tab == 'Help' %}now{% endif %}">Help</div>
      </a>
    </li>
    <li class="gap">
      {% if user.is_anonymous %}
      {% else %}
      <a class="navLink userNavLink" href={% url 'profiles:account' %}>
        <div>{{ user }}</div>
      </a>
      {% endif %}
      {% if user.is_anonymous %}
      <a class="navLink" href={% url 'profiles:register' %}>
        <div class="{% if active_tab == 'Signup' %}now{% endif %}">Sign Up</div>
      </a>
    </li>
    <li>
      <a class="navLink" href={% url 'profiles:login' %}>
        <div class="{% if active_tab == 'Login' %}now{% endif %}">Log In</div>
      </a>
      {% else %}
      <a class="navLink" href={% url 'profiles:loggedout' %}>
        <div class="{% if active_tab == 'Logout' %}now{% endif %}">Log Out</div>
      </a>
      {% endif %}
    </li>
  </ul>
</div>
{% endblock navbar %}
