{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Add topic{% endblock title %}
{% block navbar %}
  {% include "navbar.html" with active_tab='EMA' %}
{% endblock navbar %}
{% block content %}
<h1>Add a task to the topic "{{ topic.topic_name }}"</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'matrix:adding' topic.id %}" method="post">
  {% csrf_token %}

  {{ form }}

  <input type="submit" value="add task" />
</form>
{% endblock content %}
