{% extends "matrix_base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}></script>
<script>
  $(function(){
    $('form input').on('change', function(){

    });
  });
</script>
{% endblock js %}
{% block content %}
<h1>Add a new topic:</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'matrix:addtopic' %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
    {{ form.topic_name.errors }}
    <label for="{{ form.topic_name.id_for_label }}">Topic Name:</label>
    {{ form.topic_name }}
  </div>
  <div class="fieldWrapper">
    {{ form.topic_description.errors }}
    <label for="{{ form.topic_description.id_for_label }}">Topic Description:</label>
    {{ form.topic_description }}
  </div>
  <div class="fieldWrapper">
    {{ form.color.errors }}
    <label for="{{ form.color.id_for_label }}">Topic Color:</label>
    <ul>
      {% for choice in form.color.field.choices %}
        <li class="selectionList">
          <label for="id_{{ form.color.html_name }}_{{ forloop.counter0 }}">
            <div class="colorSelection" style="background-color: {{ choice.0 }}"
                  onclick="$('.colorSelection').css('border', '1px solid #eee'); $('#id_{{ form.color.html_name }}_{{ forloop.counter0 }}').parent('div').css('border', '1px solid black');">
              <input type="radio"
                id="id_{{ form.color.html_name }}_{{ forloop.counter0 }}"
                value="{{ choice.0 }}"
                name="{{ form.color.html_name }}" />
            </div>
          </label>
        </li>
      {% endfor %}
    </ul>
  </div>
  <input type="submit" value="add topic" />
</form>
{% endblock content %}
