{% extends "matrix_base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}></script>
{% endblock js %}
{% block content %}
<script>
  var task_data = {{ end_data|safe }};
  var topic_data = {{ topic_data|safe }};
</script>
  {% if messages %}
  <div>
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div id="MatrixSettings">
    <div id="Topics" class="container">
      <div class="align-left">
        <h3>Topics</h3>
      </div>
      <div class="align-right" class="add">
        <a href={% url 'matrix:addtopic' %}>
          <button>+</button>
        </a>
      </div>
      <div>
        {% if all_topics %}
        <ul class="noIndentList">
          {% for topic in all_topics %}
          <li class="topicList">
            <button class="topicButton" onclick="{{ topic.topic_id }}" style="background-color: {{ topic.color }}; border: 1px solid {{ topic.color }}">
              <input type="checkbox" id="{{ topic.color }}" name="{{ topic.topic_name }}" checked/>
              <a href={% url 'matrix:topics' topic.id %}>
                {{ topic.topic_name }}
              </a>
            </button>
          </li>
          {% endfor %}
        </ul>
        {% else %}
          <p>No topics are available.</p>
          <a href={% url 'matrix:addtopic' %}>
            <button>add a new topic!</button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="Matrix">
    <canvas id="ema" width="900" height="700">
      The Eisenhower Matrix! If you are seeing this text, your browser does
      not support this website. Please update or download Firefox or Opera.
    </canvas>
    <div id="dots" style="width: 900px; height:700;"></div>
  </div>
{% endblock content %}
{% block javascript %}
  <script type="text/javascript" src={% static "js/sidebar.js" %}></script>
  <script type="text/javascript" src={% static "js/daten.js" %}></script>
  <script type="text/javascript" src={% static "js/matrix.js" %}></script>
  <script type="text/javascript" src={% static "js/display.js" %}></script>
{% endblock javascript %}
