{% extends "matrix_base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}></script>
{% endblock js %}
{% block content %}
<script>
  var task_data = {{ end_data|safe }};
  var topic_data = {{ topic_data|safe }};
</script>
  {% if messages %}
  <div>
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div id="MatrixSettings">
    <div id="Topics" class="container">
      <div class="align-left">
        <h3>Topics</h3>
      </div>
      <div class="align-right" class="add">
        <a href={% url 'matrix:addtopic' %}>
          <button>+</button>
        </a>
      </div>
      <div>
        {% if all_topics %}
        <ul class="noIndentList">
          {% for topic in all_topics %}
          <li class="topicList">
            <button class="topicButton"
                    id="{{ topic.id }}"
                    onclick="Sidebar.button({{ topic.id }});"
                    style="background-color: {{ topic.color }};
                          border: 1px solid {{ topic.color }}">
              {{ topic.topic_name }}
            </button>
          </li>
          {% endfor %}
          <li class="topicList">
            <button class="topicButton"
                    id="all"
                    onclick="Sidebar.allButton();"
                    style="margin-top: 15px;">
              -- all --
            </button>
          </li>
        </ul>
        {% else %}
          <p>No topics are available.</p>
          <a href={% url 'matrix:addtopic' %}>
            <button>add a new topic!</button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="Matrix">
    <!--<canvas id="ema" width="900" height="700">
      The Eisenhower Matrix! If you are seeing this text, your browser does
      not support this website. Please update or download Firefox or Opera.
    </canvas>-->
    <div id="dots" style="width: 900px; height:725px; background-image: url({% static "pictures/matrix.png" %});"></div>
  </div>
  <div id="Detail">
    <h1>Test1</h1>
    <p>Attributs</p>
  </div>
  <div id="NewTask">
    <a href={% url 'matrix:adding' %}>
      <button>
        new Task
      </button>
    </a>
  </div>
  <div id="EditTask">
    <!--form action="{#% url 'matrix:taskediting' %#}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update" />
    </form-->
  </div>
{% endblock content %}
{% block javascript %}
  <script type="text/javascript" src={% static "js/sidebar.js" %}></script>
  <script type="text/javascript" src={% static "js/daten.js" %}></script>
  <script type="text/javascript" src={% static "js/matrix.js" %}></script>
  <script type="text/javascript" src={% static "js/display.js" %}></script>
{% endblock javascript %}
