{% extends "matrix_base.html" %}
{% load staticfiles %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href={% static "css/bootstrap-datetimepicker.min.css" %}>
{% endblock stylesheets %}
{% block js %}
  {{ block.super }}
  {{ task_form.media }}
  <script src={% static "js/bootstrap-datetimepicker.min.js" %} type="text/javascript"></script>
{% endblock js %}
{% block content %}
<script>
  var settings = {{ settings_file.urgent_axis }}
  var task_data = {{ end_data|safe }};
  var topic_data = {{ topic_data|safe }};
</script>
  <div id="MatrixSettings">
    <div id="Topics" class="myContainer">
      <div class="align-left">
        <h3>Topics</h3>
      </div>
      <div class="align-right" class="add">
        <a href={% url 'matrix:addtopic' %}>
          <button class="btn btn-default btn-sm">+</button>
        </a>
      </div>
      <div>
        {% if all_topics %}
        <ul class="noIndentList">
          {% for topic in all_topics %}
          <li class="topicList">
            <button role="button" class="btn topicButton topicButtonShow"
                    id="{{ topic.id }}"
                    onclick="Sidebar.button({{ topic.id }});"
                    style="background-color: {{ topic.color }};
                          border: 1px solid {{ topic.color }}">
              {{ topic.topic_name }}
            </button>
          </li>
          {% endfor %}
          <li class="topicList">
            <button class="btn topicButton topicButtonShow"
                    id="all"
                    onclick="Sidebar.allButton();"
                    style="margin-top: 15px;">
              -- all --
            </button>
          </li>
          <li class="topicList">
            <button class="btn topicButton topicButtonShow"
                    id="editTopics"
                    onclick="Sidebar.editTopics();"
                    style="margin-top: 15px;">
              edit topics
            </button>
          </li>
          <li class="topicList">
            <button type="button" class="btn topicButton topicButtonShow" data-toggle="modal" data-target="#addTask">
              add task
            </button>
          </li>
        </ul>
        {% else %}
          <p>No topics are available.</p>
          <a href={% url 'matrix:addtopic' %}>
            <button>add a new topic!</button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="Matrix">
    <!--<canvas id="ema" width="900" height="700">
      The Eisenhower Matrix! If you are seeing this text, your browser does
      not support this website. Please update or download Firefox or Opera.
    </canvas>-->
    <div id="dots" style="width: 900px; height:725px; background-image: url({% static "pictures/matrix.png" %});"></div>
  </div>
  <!-- Modal um Aufgaben zu adden -->
  <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="myModalCreate">
    <div class="modal-dialog" role="document">
          <form action="" method="post" id="ajaxCreateTask"
              class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalCreate">Add a task</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              {% for field in task_form.visible_fields %}
                {% if field.html_name == "due_date" %}
                <div id="add_{{ field.html_name }}"
                    class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                </div>
                <div id="datetimepickerAdd" class="pickerInTheMiddle"></div>
                <script>
                  $('#datetimepickerAdd').datetimepicker({
                    format: 'dd/mm/yyyy hh:ii'
                  });
                  $('#datetimepickerAdd').on("changeDate", function() {
                    $('div#add_due_date input#id_due_date').val(
                      $('#datetimepickerAdd').datetimepicker('getFormattedDate')
                    );
                    $('#datetimepickerAdd').datetimepicker('remove');
                    $('#datetimepickerAdd').datetimepicker({
                      format: 'dd/mm/yyyy hh:ii'
                    });
                  });
                </script>
              {% else %}
                <div id="{{ field.html_name }}"
                      class="form-group{% if field.errors %} has-error{% endif %}">
                  {{ field.label_tag }}
                  {{ field }}
                  <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                  </div>
                  <div class="help-block">
                    {{ field.errors }}
                  </div>
                </div>
              {% endif %}
              {% endfor %}
              {% for hidden in task_form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            </div>
            <div class="modal-footer">
              <input class="btn btn-default center-block" type="submit" value="add task" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal um Aufgaben zu editieren -->
  <div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="myModalEdit">
    <div class="modal-dialog" role="document">
      <form action="" method="post" id="ajaxEditTask"
            class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalEdit"></h4>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          {% for field in task_form.visible_fields %}
            {% if field.html_name == "due_date" %}
              <div id="edit_{{ field.html_name }}"
                    class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
              <div id="datetimepicker" class="pickerInTheMiddle"></div>
              <script>
                $('#datetimepicker').datetimepicker({
                  format: 'dd/mm/yyyy hh:ii'
                });
                $('#datetimepicker').on("changeDate", function() {
                  $('div#edit_due_date input#id_due_date').val(
                      $('#datetimepicker').datetimepicker('getFormattedDate')
                  );
                  $('#datetimepicker').datetimepicker('remove');
                  $('#datetimepicker').datetimepicker({
                    format: 'dd/mm/yyyy hh:ii'
                  });
                });
              </script>
            {% else %}
              <div id="{{ field.html_name }}"
                   class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                <div class="text-muted pull-right">
                  <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                  {{ field.errors }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% for hidden in task_form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <input class="btn btn-default" id="ajaxEditSubmit" type="submit" value="save task" />
          <input class="btn btn-danger" id="ajaxDeleteSubmit" type="submit" value="delete task" />
        </div>
      </form>
    </div>
  </div>


{% endblock content %}
{% block modals %}
<div class="modal">

</div>
{% endblock modals %}
{% block javascript %}
  <script type="text/javascript" src={% static "js/daten.js" %}></script>
  <script type="text/javascript" src={% static "js/matrix.js" %}></script>
  <script type="text/javascript" src={% static "js/display.js" %}></script>
  <script type="text/javascript" src={% static "js/ajax_forms.js" %}></script>
{% endblock javascript %}
