{% extends "matrix_base.html" %}
{% block content %}
<h1>{{ task.task_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul class="noListStyle">
  <li><small>Task Description:</small> {{ task.task_description }}</li>
  <li><small>Topic:</small> {{ task.topic }}</li>
  <li><small>Importance:</small> {{ task.get_importance_display }}</li>
  <li><small>Due Date:</small> {{ task.due_date }}</li>
  <li><small>Task was created:</small> {{ task.created }}</li>
  <li><small>Done?</small> {% if task.done == False %}no{% else %}yes{% endif %}</li>
</ul>

<a class="btn emaButton btn-success"
    href={% url 'matrix:taskediting' task.id %}>
  edit this task
</a>

<a class="btn emaButton btn-danger"
    href={% url 'matrix:taskdeleting' task.id %}>
  delete this task
</a>
{% endblock content %}
