{% extends "matrix_base.html" %}
{% load staticfiles %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href={% static "css/bootstrap-datetimepicker.min.css" %}>
{% endblock stylesheets %}
{% block js %}
  {{ block.super }}
  {{ form.media }}
  <script src={% static "js/moment.min.js" %} type="text/javascript"></script>
  <script src={% static "js/bootstrap-datetimepicker.min.js" %} type="text/javascript"></script>
  <script src={% static "js/bootstrap.min.js" %} type="text/javascript"></script>
{% endblock js %}
{% block content %}
<h1>Editing Task "{{ task.task_name }}"</h1>
<form class="emaForm" action="" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    {% if field.html_name == "due_date" %}
    {{ field.label_tag }}
    <div id="datetimepicker" class=""></div>
    <script>
      $(function () {
        $('#datetimepicker').datetimepicker({
          inline: true,
          sideBySide: true,
          format: 'DD/MM/YYYY hh:mm'
        });
        $('#datetimepicker').data("DateTimePicker").date("{{ field.value|date:"d/m/Y H:i" }}");
        $('#datetimepicker').on('dp.change', function(e) {
          $('input#id_due_date').val(e.date.format("DD/MM/YYYY HH:mm"));
        });
      });
    </script>
    {{ field }}
    <span class="errorMessage">
      {{ field.errors }}
    </span>
  {% else %}
    <div id="{{ field.html_name }}"
      class="form-group">
      {{ field.label_tag }}
      {{ field }}
      <div class="text-muted pull-right">
        <small>{{ field.help_text }}</small>
      </div>
      <span class="errorMessage help-block">
        {{ field.errors }}
      </span>
    </div>
  {% endif %}
  {% endfor %}
  {% for hidden in task_form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  <input class="btn emaButton emaNormal" type="submit" value="Update" />
</form>
{% endblock content %}
