{% extends "matrix_base.html" %}
{% block content %}
<h1>{{ task.task_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
  <li><small>Task Description:</small> {{ task.task_description }}</li>
  <li><small>Topic:</small> {{ task.topic }}</li>
  <li><small>Importance:</small> {{ task.get_importance_display }}</li>
  <li><small>Due Date:</small> {{ task.due_date }}</li>
  <li><small>Task was created:</small> {{ task.created }}</li>
  <li><small>Done?</small> {% if task.done == False %}no{% else %}yes{% endif %}</li>
</ul>

<a href={% url 'matrix:taskediting' task.id %}>
  <button>Edit this task!</button>
</a>

<a href={% url 'matrix:taskdeleting' task.id %}>
  <button>Delete this task!</button>
</a>

<a href={% url 'matrix:adding' %}>
  <button>Add a new task!</button>
</a>
{% endblock content %}
