{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Add topic{% endblock title %}
{% block navbar %}
  {% include "navbar.html" with active_tab='EMA' %}
{% endblock navbar %}
{% block content %}
<h1 style="color: {{ topic.color }};">{{ topic.topic_name }}</h1>

<button><a href={% url 'matrix:topicediting' topic.id %}>edit</button>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if topic.task_set.count > 0 %}
  <ul>
    {% for task in topic.task_set.all %}
      <li><a href={% url 'matrix:tasks' task.id %}>{{ task.task_name }}</a></li>
    {% endfor %}
    <li><a href={% url 'matrix:adding' topic.id %}>+</a></li>
  </ul>
{% else %}
  <a href={% url 'matrix:adding' topic.id %}>add a task to the topic
        {{ topic.topic_name }}</a>
{% endif %}
{% endblock content %}
