.dot {
  position: absolute;
  bottom: 0px;
  opacity: 0.7;
  border: 2px solid black;
  border-radius: 5px;
}

.bar:hover {
  opacity: 1.0;
}

.dot .label {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 10px;
  right: 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
  width: auto;
}

.dot .label h1 {
  text-align: center;
}

.dot .label p {
  text-align: left;
}

.dot:hover {
  background: steelblue;
}

.dot:hover .label {
  opacity: 1.0;
  display: block;
  background-color: white;
  width: 100px;
}

.dot:hover .label h1 {
  font-size: 1em;
}

.dot:hover .label p {
  font-size: 0.8em;
}

.dot .value {
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
}

#Matrix {
  display: block;
  border: 1px solid #111;
  margin: 5px 1%;
  padding: 10px 1%;
  position: relative;
  width: 73%;
  background-size: 850px;
  /* position:absolute; top:0; left:0; */
  /* z-index:0; */
  vertical-align: top;
}

#dots {
  position: relative;
  display: block;
  background-size: 900px;
}

#Matrix {
	display: inline-block;
	vertical-align: top;
	width: 73%;
	border: 1px solid #111;
	margin: 5px 1%;
	padding: 10px 1%;
  position: relative;
}
