{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Your Profile{% endblock title %}
{% block navbar %}
  {% include "navbar.html" with active_tab='Account' %}
{% endblock navbar %}
{% block content %}
  {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}. Thanks for logging in.</h1>
  {% else %}
    <h1>Please <a href="{% url 'profiles:login' %}">log in</a>.</h1>
  {% endif %}
  <div>
    <button class="emaButton emaNormal">
      <a href={% url 'matrix:done_tasks' %}>done tasks</a>
    </button>
  </div>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="save" />
    </form>
{% endblock content %}
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
