{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Your Profile{% endblock title %}
{% block navbar %}
  {% include "navbar.html" with active_tab='Account' %}
{% endblock navbar %}
{% block content %}
  <h1 class="abstandUgross">Welcome "{{ user.username }}"!</h1>
  <div class="row equal abstandO">
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Matrix Settings</h3>
        </div>
        <div class="panel-body">
          <p>
            Some people plan for the next months, others have the next four
            months in their mind. The "urgent axis" settings gives you the
            possibility to adjust the time that is displayed on the entire
            urgent-axis of your matrix.
          </p>
        </div>
        <form class="formContainer abstandU" action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn emaButton emaNormal center-block" type="submit" value="save" />
        </form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default emptyPanel">
        <div class="panel-heading">
          <h3>Finished Tasks</h3>
        </div>
        <div class="panel-body">
          <p class="abstandU">
            Click on the button below to see all the tasks you have
            accomplished yet!
          </p>
          <a class="btn emaButton emaNormal center-block abstandO" href={% url 'matrix:done_tasks' %}>
            show all finished tasks
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default emptyPanel">
        <div class="panel-heading">
          <h3>User Settings</h3>
        </div>
        <div class="panel-body">
          yet to come ...
          <!--form class="formContainer" action="{% url 'profiles:passwordchange' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ passwordChange.old_password.id_for_label }}">old password:</label>
                <span class="pull-right">{{ passwordChange.old_password.help_text }}</span>
                {{ passwordChange.old_password }}
              </div>
              <div class="form-group">
                <label for="{{ passwordChange.new_password1.id_for_label }}">new password:</label>
                <span class="pull-right">{{ passwordChange.new_password1.help_text }}</span>
                {{ passwordChange.new_password1 }}
              </div>
              <div class="form-group">
                <label for="{{ passwordChange.new_password2.id_for_label }}">repeat new password:</label>
                <span class="pull-right">{{ passwordChange.new_password2.help_text }}</span>
                {{ passwordChange.new_password2 }}
              </div>
              <input class="btn emaButton emaNormal" type="submit" value="save" />
          </form-->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
