{% load staticfiles %}
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>
      {% block title %}
      {# different titles for different tabs, standard: #}
        Eisenhower Matrix
      {% endblock title %}
    </title>
    {% block stylesheets %}
    {# change stylesheets per tab #}
      <link rel="stylesheet" type="text/css"
            href={% static "css/stylesheet.css" %}>
    {% endblock stylesheets %}
  </head>
  <body class="loginbody">
    {# startpage #}
    {# TODO: schöner machen #}
    <div class="loginpage">
      <h1>Herzlich Willkommen bei der Eisenhower Matrix App!</h1>
      <p>Ein Tool für Ihr Zeitmanagement.</p>
      <form method="post" action="{% url 'profiles:login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.username.errors }}
          <label for="{{ form.username.id_for_label }}">Username:</label>
          {{ form.username }}
        </div>
        <div class="fieldWrapper">
          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}">Password:</label>
          {{ form.password }}
        </div>
        <input class="emaButton emaLogin" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p>Don't have an account yet?</p>
      <button class="emaButton emaRegister">
        <a href={% url 'profiles:register' %}>registrieren</a>
      </button>
    </div>
  </body>
</html>
