{% load staticfiles %}
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>
      {% block title %}
      {# different titles for different tabs, standard: #}
        Eisenhower Matrix
      {% endblock title %}
    </title>
    {% block stylesheets %}
    {# change stylesheets per tab #}
      <link rel="stylesheet" type="text/css"
            href={% static "css/bootstrap.min.css" %}>
      <link rel="stylesheet" type="text/css"
            href={% static "css/stylesheet.css" %}>
    {% endblock stylesheets %}
  </head>
  <body class="loginbody">
    {% load addcss %}
    {# startpage #}
    {# TODO: schöner machen #}
    <div class="loginpage">
      <h1>Welcome to the EMApp.</h1>
      <p>A Tool for your Time Management!</p>
      {% if form.non_field_errors %}
        <p class="errorMessage">Your username and password didn't match. Please try again!</p>
      {% endif %}
      <form method="post" action="{% url 'profiles:login' %}">
        {% csrf_token %}
        <div class="fieldWrapper form-group">
          {{ form.username.errors }}
          <!--label for="{{ form.username.id_for_label }}">Username:</label-->
          {{ form.username|add_attrs:"form-control,placeholder:user name" }}
        </div>
        <div class="fieldWrapper form-group">
          {{ form.password.errors }}
          <!--label for="{{ form.password.id_for_label }}">Password:</label-->
          {{ form.password|add_attrs:"form-control,placeholder:password" }}
        </div>
        <input class="btn emaButton emaLogin" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p>Don't have an account yet?</p>
      <a class="btn emaButton emaRegister" href={% url 'profiles:register' %}>
        register
      </a>
    </div>
  </body>
</html>
