{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}EMA Help{% endblock title %}
{% block navbar %}
  {% include "navbar.html" with active_tab='Help' %}
{% endblock navbar %}
{% block content %}
<h1>FAQ</h1>
<h3 class="FAQtitle">Can I add a standard topic to be pre-selected when adding tasks?</h3>
<p>
  Yes, you can. Go to "Account" - "Matrix", select the preferred topic and
  click "save".
</p>
<h3 class="FAQtitle">Can I change my username or password?</h3>
<p>
  Not yet. If you want to do that, please contact me through the mail address
  at "About EMA".
</p>
<h3 class="FAQtitle">I can't find my question here!</h3>
<p>
  Don't panic! You can write me a mail to the address at "About EMA".
</p>
{% endblock content %}
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
